apex @ file:///D:/bld/nvidia-apex_1619107478862/work
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1588182545583/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
certifi==2021.10.8
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
dominate==2.6.0
future==0.18.2
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1603384189793/work
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184278/work
mkl-service==2.4.0
numpy @ file:///C:/ci_310/numpy_and_numpy_base_1643798589088/work
opencv-python==4.5.5.64
OpenEXR @ file:///D:/bld/openexr-python_1647980265267/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pefile==2021.9.3
Pillow==9.0.1
pluggy @ file:///D:/bld/pluggy_1635833078128/work
py @ file:///home/conda/feedstock_root/build_artifacts/py_1636301881863/work
PyEXR==0.3.10
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1642753572664/work
pytest==7.0.1
PyYAML @ file:///D:/bld/pyyaml_1636139895442/work
scipy==1.8.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
timm==0.3.2
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
torch==1.10.2
torchaudio==0.10.2
torchvision==0.11.3
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1646031859244/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
wincertstore==0.2
